modules/orchestration/temp/
archive/
.venv
*.DS_Store
*.jpg
*.pt
*.pyc
*.egg-info
*.whl
*.gz
*__pycache__/
# *.pyc
.pypirc
.cache/
*.pyo
*.pyd
.ipynb_checkpoints/
.env
*.pem
observability/odop_obs/logs/*.txt
observability/odop_obs/tinyflux/*.csv
.python-version
plan/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
