client:
  usename: aaltosea2
  instance_name: data_processing01
  stage_id: data_processing
  functionality: transformation
  application_name: test
  role: ml
connector:
  - name: amqp_connector
    connector_class: AMQP
    config:
      end_point: localhost
      exchange_name: test_qoa4ml
      exchange_type: topic
      out_routing_key: test.client2
